* {
    margin: 0;
    padding: 0;
}

body {
    background: #00aeef;

}
h1, h2{
    font-family: 'Asap', sans-serif;
    padding: 20px;
    margin:1em auto;
    border-radius: 30px;
    max-width: 600px;
    font-size:  0.875em;
}
h1 {
    text-align: right;
    color:  #022441;
    background-color: #f7f7f7;


}

h2{
    text-align: left;
    color: #fff;
    background-color: #38c9ff;
}


p {
    font-family: 'Asap', sans-serif;
    text-align: center;
    color: #fbfbfb;
}

#container-input,#container-response, #output, #container {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}


input {
    margin-top: 20px;
    background-color: #eee;
    border: none;
    font-family: sans-serif;
    color: #3d3d3d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 30px;
}

#container-welcome{
     z-index: 999;
     width: 50%;
     background-color: #00aeef;
     border: 2px solid #fbfbfb;
     height: 250px;
     border-radius: 20px;
     line-height: 250px;
 }
#container-welcome p {
    font-family: 'Asap', sans-serif;
    padding: 20px;
    text-align: center;
    color: #fbfbfb;
    font-size: 15pt;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#container-response{
    z-index: 999;
    width: 50%;
    background-color: #00aeef;
    border: 2px solid #fbfbfb;
    height: 250px;
    border-radius: 20px;

}
#container-response p {
    font-family: 'Asap', sans-serif;
    padding: 20px;
    text-align: center;
    color: #fbfbfb;
    font-size: 15pt;

}
#response{
    font-family: 'Asap', sans-serif;
    padding: 20px;
    text-align: center;
    color: #fbfbfb;
    font-size: 4em;
}

@media screen and (min-width: 768px ) {
    h1 {
        font-size: 2em;
    }

    h2{
        font-size: 2em;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 0.875em;
    }

    h2{
        font-size: 0.875em;
    }
}

